

.mainbutton {
  /* border-top-left-radius: 500px;
  border-bottom-right-radius: 500px; */
  display: inline;
  margin-left: 10px;
  width: 100px;
  /* -webkit-border-radius: 500px; */
  padding-left: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 1em;
  border-width: 2px;
  font-family: 'NibPro-Regular';
  background-color:  rgb(147, 157, 169);
  color: rgb(40,43,74);
  border-color:  rgb(147, 157, 169);
  border-style: solid;
  margin: 2vw;
  font-size: 1.6vw;
  text-transform: none;
}

.mainbutton:hover {
  background-color: #f2f0f0;
  border-width: 2px;
  border-style: solid;
  color: rgb(106, 116, 128);
  text-decoration: underline;
  

}