@media screen and (max-width: 3008px){

  
  .submitbutton{
    background: transparent;
    border-radius: 10px;
    text-decoration: underline;
    float: right;
    width: 10%;
    color: rgb(52, 76, 68);
    font-size: 20px;
    font-family: "NibPro-Bold";
    border-width: 0px;

  }

  .submitbutton:hover{
    color: rgb(94, 98, 121);
    font-family: "NibPro-BoldItalic";
    background: transparent;

  
  }
  
}

@media screen and (max-width: 768px){


  .submitbutton{
    background: transparent;
    border-radius: 10px;
    text-decoration: underline;
    float: right;
    width: 30%;
    color: rgb(52, 76, 68);
    font-size: 15px;
    font-family: "NibPro-Bold";
    border-width: 0px;

  }

  .submitbutton:hover{
    color: rgb(94, 98, 121);
    font-family: "NibPro-BoldItalic";
  
  }
  
}




#contactform{
  height: 70vh;
  margin: auto;
  padding-top: 30vh;
  text-align: left;
  color:rgb(36, 25, 69);
}

.contactwrapper{
  background-color:#f2f0f0;
  height: 100vh;
}


  
textarea {
  width: 100%;
  font-size: 1.1em;
  border-radius: 7px;
  min-height: 50px;
  background-color: rgb(240,244,237);
  padding: .4em;
  font-family: "raleway";

}

#login{
  width: 75%;
  margin: auto;
}

input:focus {
  outline:none;
}


.form-control{
  float: right;
  margin-bottom: 30px;
  font-family: "raleway";
  font-size: 1em;
  border: none;
  background: rgb(240,244,237);
  border-bottom: 1px solid rgb(59, 31, 9);
}

.email-outsides{
  padding-top: 5vh;
}
