#root {
  text-align: center;
}

@font-face {
  font-family: "Maison";   /*Can be any text*/
  src: local("Louis"),
    url("/src/assets/Louis.ttf") format("truetype"),
}

@media only screen and (max-width: 700px) {
  body .cursor {
      display: 'none'
  }
}

@font-face {
  font-family: "ForesterRegular";   /*Can be any text*/
  src: local("ForesterRegular-gxra4"),
    url("/src/assets/ForesterRegular-gxra4.ttf") format("truetype"),

}


@font-face {
  font-family: "Montserrat-Bold";   /*Can be any text*/
  src: local("Montserrat-Bold"),
    url("/src/assets/Montserrat-Bold.otf") format("truetype"),

}

@font-face {
  font-family: "Questrial-Regular";   /*Can be any text*/
  src: local("Questrial-Regular"),
    url("/src/assets/Questrial-Regular.ttf") format("truetype"),

}


@font-face {
  font-family: "Vonique";   /*Can be any text*/
  src: local("Vonique64"),
    url("/src/assets/Vonique64.ttf") format("truetype"),

}

@font-face {
  font-family: "Cocogoose";   /*Can be any text*/
  src: local("Cocogoose"),
    url("/src/assets/Cocogoose.ttf") format("truetype"),

}

@font-face {
  font-family: "Cabin-Regular-TTF";   /*Can be any text*/
  src: local("Cabin-Regular-TTF"),
    url("/src/assets/Cabin-Regular-TTF.ttf") format("truetype"),

}

@font-face {
  font-family: "Libel";   /*Can be any text*/
  src: local("libel-suit-rg"),
    url("/src/assets/libel-suit-rg.otf") format("truetype"),

}

@font-face {
  font-family: "Motterdam-K74zp";   /*Can be any text*/
  src: local("Motterdam-K74zp"),
    url("/src/assets/Motterdam-K74zp.ttf") format("truetype"),

}

@font-face {
  font-family: "Glorien Sans Serif";
  src: url("https://db.onlinewebfonts.com/t/c9428320be906c651a5a5bf86771c3aa.eot");
  src: url("https://db.onlinewebfonts.com/t/c9428320be906c651a5a5bf86771c3aa.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/c9428320be906c651a5a5bf86771c3aa.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/c9428320be906c651a5a5bf86771c3aa.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/c9428320be906c651a5a5bf86771c3aa.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/c9428320be906c651a5a5bf86771c3aa.svg#Glorien Sans Serif")format("svg");
}

@font-face {
  font-family: "Times Sans Serif";
  src: url("https://db.onlinewebfonts.com/t/f5511239c72c70ba62b013979a9259c2.eot");
  src: url("https://db.onlinewebfonts.com/t/f5511239c72c70ba62b013979a9259c2.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/f5511239c72c70ba62b013979a9259c2.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/f5511239c72c70ba62b013979a9259c2.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/f5511239c72c70ba62b013979a9259c2.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/f5511239c72c70ba62b013979a9259c2.svg#Times Sans Serif")format("svg");
}

@font-face {
  font-family: "Rotis Sans Serif 55";
  src: url("https://db.onlinewebfonts.com/t/d979624d1cb77d6523f9b3adc2bcef31.eot");
  src: url("https://db.onlinewebfonts.com/t/d979624d1cb77d6523f9b3adc2bcef31.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/d979624d1cb77d6523f9b3adc2bcef31.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/d979624d1cb77d6523f9b3adc2bcef31.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/d979624d1cb77d6523f9b3adc2bcef31.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/d979624d1cb77d6523f9b3adc2bcef31.svg#Rotis Sans Serif 55")format("svg");
}