:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color:rgb(41, 46, 53);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: rgb(68, 124, 68);
}

.descriptiontext {
  font-family: "Maison";
  font-size: 2.5em;
  margin-top: 40vh;
  color:rgb(41, 53, 44);
  height: clamp(150vh, max-content);
  margin-bottom: 40vh;
} 



a {
  font-family: "Maison";
  font-style:normal;
  font-size: clamp(30px, 4.5vw, 400px);
  display: block;
  float: center;
  text-transform: uppercase;
  color:rgb(41, 46, 53);
  text-decoration:none;

}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  overflow-wrap: break-word;
  font-family: "Maison";
  font-size: 1.5em;
  color:rgb(14, 6, 35);
  /* border-right: .15em solid orange; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  /* animation: 
    typing 3.5s steps(40, end),
    blink-caret .5s step-end infinite; */
}

.test {
  background-color: purple;
}

.headercontents{
  height: 400px;
}

.header{
  padding-top: 150px; 
  background-color:rgb(237, 235, 213);
  padding-bottom: 100px;

}



.monstera {
  background-image: url("https://www.bhg.com/thmb/rmbt3C6nknS2eg31JcaLXu5jacw=/1500x0/filters:no_upscale():strip_icc()/bhg-monstera-GettyImages-1202757463-422671962c5540fb8d7e03a56d813c86.jpg");
  background-size: fill;
  background-position-x:1120px;
  height: 900px;
  
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 95% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(255, 255, 255, 0.519); }
}

#contactform{
  width: 60vw;
  height: 70vh;
  margin: auto;
  padding-top: 30vh;
  text-align: left;
  color:rgba(19, 108, 45, 0.828);
}

.contactwrapper{
  background-color:rgb(188, 182, 160);
}

.submitbutton{
  background: transparent;
  border-width: 0px;
  float: right;
  font-size:25px;
  margin-top: -3.5vh;
  font-family: "ForesterRegular";
  transform-origin: 0 0;
  transform: rotate(-10deg);

}

.submitbutton:hover{
  color:rgba(19, 108, 45, 0.828);
  transform: rotate(-15deg);

}

input:focus {
  outline:none;
}


.contactheader{

  font-size: clamp(16px, 2.5vw, 30px);  text-transform: uppercase;
  font-family: "Maison";
  padding-bottom: 3vh;

}


.form-control{
  float: right;
  margin-bottom: 30px;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgb(59, 31, 9);
}

li{
  list-style-type: none;
}

h4{
  font-size: clamp(25px, 4vw, 400px);

  font-family: 'Motterdam-K74zp';
  color: rgba(92, 177, 61, 0.828);
}


a:hover{
/* text-decoration: line-through;
text-decoration-color: rgba(0, 128, 255, 0.125);
text-decoration-thickness: 40px; */

color:rgba(20, 68, 34, 0.828);
 /* font-size: clamp(35px, 4.8vw, 400px); */

  /* font-family: "Maison"; */
}

#root{

}

p {
  text-align: left;
  line-height: 1.5;
  margin: auto;
  margin-top: 2vh;
  color:rgba(41, 46, 53, 0.792);
  font-family: Geneva, Tahoma, sans-serif;
  font-size: clamp(12px, 1.75vw, 30px);  
  margin-bottom: 5vh;
}

#rhizome {
  fill: rgba(217, 172, 117, 0.795);
  align-content: center;


}

html, body {
  overflow-x: hidden;
}

#scroll{
  color: rgb(73, 84, 11);
  font-size: clamp(15px, 3.5vw, 400px);
  text-align: center;
  padding-left: 3vw;
  font-family: "Motterdam-K74zp";
  line-height: 0;

}
