:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color:rgb(52, 76, 68);
  background-color: #f0f2f0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
body {
  background-color: #F2F0F0;
  color:rgb(52,56,76);

}

.footer{
  background-color:rgb(52, 76, 68);
  position:sticky;
  bottom: 0;
  margin: 0;
  font-family: "raleway";
  padding: .5em;
  line-height: 2em;
  color: rgb(180, 205, 188);
}

#nav-item:hover{
  background-color:rgb(52, 76, 68);
  position:sticky;
  bottom: 0;
  margin: 0;
  color: rgb(255, 255, 255);
}



#nav-item{
  display: inline-flex;
  padding-left: 1em;
}

@media screen and (max-width: 3008px){

  .gtsLogoList {
    visibility:visible;
    position: fixed;
    font-family: "Raleway-SemiBold";
    right: 0;
    text-align: right;
    padding-top: 1em;
    display: block;
    margin: 1%;
  }

  .break2{
    height: 2vh;
  }

  .main h1 {
    font-size: 10vw;
    padding-left: 30px;
    padding-right: 30px;
    border-right-color:rgb(52, 76, 68);
    border-right-width: .3vh;
    border-right-style: solid;
    border-bottom-color:rgb(52, 76, 68);
    border-bottom-width: .3vh;
    border-bottom-style: solid;
    font-family: "NibPro-SemiBold";
    width: 70%;
    margin: auto;
  
  }
  .bodycontainer{
    width: 70%;
    margin: auto;
    padding: 5%;
    background-color: white;
    margin-bottom: 5%;
    border-radius: 20px;
    margin: auto;
    
  }

  .row {
    vertical-align: top;

  }

.number{
  font-family: "NibPro-Bold";
  font-size: 1em;
}


.optionscontainer{
  padding-left: 50px;
  padding-right: 50px;
  height: auto;

}

  .main p {
    font-size: 3.8vh;
    font-family: "raleway";
    text-transform: uppercase;
    text-align: center;
  }
  .gtsLogo{
    position: fixed;
    top: 0;
    overflow: auto;
    right: 0;
    height: 9vh;
    width: auto;
    margin: 1%;
  }

  .hideOnComp{
    visibility: hidden;
  }

  #nav-item-list:hover{
    color:rgb(117, 154, 139);

  }

  

  .topparagraph{
    background-color:white;
    width: 30%;
    padding: 5%;
    margin:auto;
    border-radius: 20px;
  
  }

p {
  text-align: left;
  line-height: 1.5;
  margin: auto;
  margin-top: 2vh;
  color:rgb(60, 81, 72);
  font-family: "raleway";
  font-size: clamp(12px, 1.75vw, 30px);  
  margin-bottom: 5vh;
}

.headertitle{
  font-family: "NibPro-Black";
  font-size: 3vw;
  color:rgb(52, 76, 68);

}
.subtitle{
  font-family: "NibPro-BoldItalic";
  color:rgb(52, 76, 68);

}


#background-square{
  padding: 2vh;
  visibility: visible;


}

#background-phone{
  visibility: hidden;

}

.break {
  height: 15vh;
}
  
}

@media screen and (max-width:868px){
  .hideOnComp{
    visibility: visible;
  }

  .gtsLogoList {
    visibility: hidden;
    position: fixed;
    right: 0;
    text-align: right;
    padding-top: 1em;
    display: block;
    margin: 1%;
  }

  .break {
    height: 2vh;
  }

  .break2{
    height: .1vh;
  }
    
  .main h1 {
    font-size: 8vh;
    padding-left: 30px;
    padding-right: 30px;
    border-right-color:rgb(52, 76, 68);
    border-right-width: .3vh;
    border-right-style: solid;
    border-bottom-color:rgb(52, 76, 68);
    border-bottom-width: .3vh;
    border-bottom-style: solid;
    font-family: "NibPro-SemiBold";
    width: 90%;
    margin: auto;
  
  }

  .main p {
    font-size: 2.2vh;
    font-family: "raleway";
    text-transform: uppercase;
    text-align: center;
  }
  
  .gtsLogo{
    position: fixed;
    top: 0;
    right: 0;
    height: 5vh;
    width: auto;
    margin: 1%;
  }
  

.topparagraph{
  background-color:white;
  width: 100%;
  margin: auto;
  margin-bottom: 2vh;
  padding: 5%;
  font-size: 1em;
  border-radius: 20px;
  min-height: 20px;

}

p {
  text-align: left;
  margin: auto;
  color:rgba(41, 46, 53, 0.792);
  font-family: "raleway";
  font-size: 2.5vh;
}


  .headertitle{
    margin: 0;
    font-size: 5.5vw;
    margin-bottom: 30px;
  }

  .subtitle{
    font-family: "NibPro-BoldItalic";
    font-size: 3vw;
  }

  .bodycontainer{
    width: 88%;
    margin: auto;
    padding: 5%;
    background-color: white;
    margin-bottom: 5%;
    border-radius: 20px;
    margin: auto;
  }

  .bodycontainer p{
   margin-bottom: 0;
   font-size: 1em;
  }

  #background-square{
    visibility: hidden;
  
  }

  #background-phone{
    margin-bottom: 2vh;
    font-size: 1.45em;
    visibility: visible;

  
  }
.number{
  font-family: "NibPro-Bold";
  font-size: 1.1em;
  text-align: center;
}


}




.main{
  color: rgb(52, 76, 68);
  padding-bottom: 10%;
  min-height: 50vh;
  
}




.header{
  background-size: cover;
  margin: auto;
  padding-top: 20vh;
  background-position-x: 300px;
  background-color:F2F0F0;
  border-right: rgb(2, 50, 182);
  border-right-width: 10px;
  border-style: solid;
  border-top: none;
  border-bottom: none;

}




.linel{
  background-color: rgb(84, 87, 93);
  height: .3vh;
  width: 65%;
}

.liner{
  background-color: rgb(84, 87, 93);
  height: .3vh;
  width: 65%;
  float: right;
}

.connector{
  font-family: "NibPro-BoldItalic";
}

.flowers{
  height: 40vh;
  position: absolute;
  padding-bottom: 20px;
  top: 60vh;
  border-radius: 40px;
}



li{
  list-style-type: none;
}



h4{
  font-size: clamp(25px, 4vw, 400px);

  font-family: 'Motterdam-K74zp';
  color: rgba(0, 0, 0, 0.55);
}


a:hover{
color:rgba(20, 68, 34, 0.828);
}



html, body {
  overflow-x: hidden;
}


.buttons{
  display: flex;
  justify-content: center;

}



.emphasizep {
  font-family: "NibPro-BoldItalic"
}