:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color:rgb(41, 46, 53);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: rgb(111, 202, 111);
}

.descriptiontext {
  font-family: "Maison";
  font-size: 2.5em;
  margin-top: 40vh;
  color:rgb(41, 53, 44);
  height: clamp(150vh, max-content);
  margin-bottom: 40vh;
} 



a {
  font-family: "Maison";
  font-style:normal;
  font-size: clamp(30px, 4.5vw, 400px);
  display: block;
  float: center;
  text-transform: uppercase;
  color:rgb(41, 46, 53);
  text-decoration:none;

}

.navbar{
  width: 100vw;
  background-color: rgb(69, 153, 94);
  height: 10px;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  line-height: 3;
  overflow-wrap: break-word;
  font-family: "Maison";
  font-size: 100%;
  color:rgb(181, 148, 118);
  /* border-right: .15em solid orange; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  /* animation: 
    typing 3.5s steps(40, end),
    blink-caret .5s step-end infinite; */
}

.test {
  background-color: purple;
}

.typingdefs {
  width: 100%;

}

.header{
  background-size: cover;
  margin: auto;
  padding-top: 20vh;
  background-position-x: 300px;
  background-color:rgb(28, 57, 11);
  border-right: rgb(2, 50, 182);
  border-right-width: 10px;
  border-style: solid;
  border-top: none;
  border-bottom: none;

}

.largetype {
  font-size: 4em;
}


.monstera {
  background-image: url("https://media.licdn.com/dms/image/C5622AQGuDe4N34sf1g/feedshare-shrink_2048_1536/0/1637158122570?e=2147483647&v=beta&t=E5kc2Y3lAknISny2_39z4NAENloCS8vR3LW9aXSmy74");
  /* background-image: url("https://huntimages.s3.us-west-2.amazonaws.com/production/steemhunt/2018-08-31/bf16f593-QbiToy_Blocks.gif"); */
  /* background-image: url("https://cdn.dribbble.com/users/433929/screenshots/3673237/media/5a85c7995ce4be5598765675c2d0a5a3.gif"); */
  background-size: cover;
  background-position-x: -10px;
  box-shadow: inset 0 0 0 1000px rgba(56, 105, 61, 0.4);
  height: 100vh;
  
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 95% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(255, 255, 255, 0.519); }
}

#contactform{
  width: 60vw;
  height: 70vh;
  margin: auto;
  padding-top: 30vh;
  text-align: left;
  color:rgba(19, 108, 45, 0.828);
}

.contactwrapper{
  background-color:rgb(232, 224, 197);
}

.submitbutton{
  background: transparent;
  border-width: 0px;
  float: right;
  font-size:25px;
  margin-top: -3.5vh;
  font-family: "ForesterRegular";
  transform-origin: 0 0;
  transform: rotate(-10deg);

}

.submitbutton:hover{
  color:rgba(19, 108, 45, 0.828);
  transform: rotate(-15deg);

}

input:focus {
  outline:none;
}


.contactheader{
  font-size: clamp(16px, 2.5vw, 30px);  text-transform: uppercase;
  font-family: "Maison";
  padding-bottom: 3vh;

}


.form-control{
  float: right;
  margin-bottom: 30px;
  border: none;
  background: transparent;
  border-bottom: 1px solid rgb(59, 31, 9);
}

li{
  list-style-type: none;
}

h4{
  font-size: clamp(25px, 4vw, 400px);

  font-family: 'Motterdam-K74zp';
  color: rgba(92, 177, 61, 0.828);
}


a:hover{
/* text-decoration: line-through;
text-decoration-color: rgba(0, 128, 255, 0.125);
text-decoration-thickness: 40px; */

color:rgba(20, 68, 34, 0.828);
 /* font-size: clamp(35px, 4.8vw, 400px); */

  /* font-family: "Maison"; */
}

#root{

}

p {
  text-align: left;
  line-height: 1.5;
  margin: auto;
  width: 60%;
  margin-top: 2vh;
  color:rgba(41, 46, 53, 0.792);
  font-family: Geneva, Tahoma, sans-serif;
  font-size: clamp(12px, 1.75vw, 30px);  
  margin-bottom: 5vh;
}

#rhizome {
  fill: rgba(217, 172, 117, 0.795);
  align-content: center;


}

html, body {
  overflow-x: hidden;
}

#scroll{
  color: rgb(73, 84, 11);
  font-size: clamp(30px, 3.5vw, 400px);
  text-align: center;
  font-family: "Motterdam-K74zp";
  line-height: 0;

}
